.Weather {
  padding: 16px;
  margin: 0px auto;
  border: 1px solid #e9e9e9;
  max-width: 800px;
  font-family: "Google Sans", arial, sans-serif;
  border-radius: 10px;
  color: rgb(135, 135, 135);
}
.search-form,
.Weather .btn {
  font-size: calc(6px + 2vmin);

  height: 35px;
  border-radius: 5px;
  margin: 10px 0 30px 0;
}
.Weather .btn {
  border-radius: 6px;
}
.Weather h1 {
  margin: 5px 0 0 0;
  color: #878787;
  display: block;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 29px;
}
.Weather ul {
  margin: 0 0 0 15px;
  padding: 0;
}
.Weather li {
  color: #878787;
  font-size: 14px;
  font-weight: 100;
  line-height: 15px;
  list-style: none;
}
.Weather canvas {
  height: 40px;
  width: 40px;
  padding: 0;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  top: 2px;
}
.Weather .temp-value {
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  color: rgb(165, 65, 65);
  margin: 0, 5px, 5px, 5px;
  top: -10px;
  margin-left: -20px;
}
.Weather .temp-unit {
  font-size: 15px;
  font-weight: 900;
  position: relative;
  top: -30px;
  line-height: 1;
  color: black;
  
}
